.container, .form-file {
    text-align: center;
    margin: 10px;
}
.row {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
.row-cols > * {
    margin: 0.5rem;
    flex: 0 0 auto;
}

.pic {
    height: 150px;
    width: 200px;
    max-width: 100%;
    object-fit: contain;
}
